name: Build

on:
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Set up Maven
        uses: stCarolas/setup-maven@v4
        with:
            maven-version: 3.6.0
      - name: Build with Maven
        run: mvn -B package --file pom.xml -DskipTests
      - name: Store war file
        uses: actions/upload-artifact@v2
        with:
          name: actions-test-pr-${{ github.event.number }}
          path: target/server.war

  package:
    name: Dockerize
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v2
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Fetch war file
        uses: actions/download-artifact@v2
        with:
          name: actions-test-pr-${{ github.event.number }}
          path: target
      - name: Check After
        run: ls
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: eduardohmg/actions-test:pr-${{ github.event.number }}
