name: Deploy Preview

on:
  issue_comment:
    types: [ created ]
  pull_request_review_comment:
    types: [ created ]

jobs:
  check-comment:
    name: Check Deploy Preview Comment
    runs-on: ubuntu-latest
    steps:
      - name: Say whether it triggered
        run: 'echo Really Triggered!'
        if: steps.check.outputs.triggered == 'true'
