name: Deploy Preview
on:
  pull_request:
    types: [ opened ]
  issue_comment:
    types: [ created ]
  pull_request_review_comment:
    types: [ created ]

jobs:
  check-comment:
    name: Check Deploy Preview Comment
    runs-on: ubuntu-latest
    steps:
      - uses: khan/pull-request-comment-trigger@1.0.0
        id: check
        with:
          trigger: '#preview'
          reaction: rocket
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
      - name: Say whether it found
        run: 'echo Found it!'
        if: steps.check.outputs.triggered == 'true'

  deploy-preview:
    name: Deploy Preview
    runs-on: self-hosted
    needs: check-comment
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Docker pull
        id: docker_pull
        run: docker pull eduardohmg/actions-test:pr-${{ github.event.number }}
      - name: Docker Run
        id: docker_run
        run: |
          docker run -d -P \
            -l traefik.enable=true \
            -l traefik.frontend.rule=Host:pr-${{ github.event.number }}.dev.loc \
            -l traefik.protocol=http \
            --name pr-${{ github.event.number }} \
            eduardohmg/actions-test:pr-${{ github.event.number }}
