name: Deploy Preview

on:
  issue_comment:
    types: [ created ]
  workflow_dispatch:

jobs:

  deploy-preview:
    name: Deploy Preview
    runs-on: self-hosted
    if: github.event_name != 'issue_comment' || github.event.comment.body == '/deploy'
    steps:
      - name: Get branch name
        uses: tj-actions/branch-names@v4.5
      
      - name: Set variables
        run: |
          echo "DOCKER_IMAGE=eduardohmg/actions-test:${{ steps.branch-name.outputs.current_branch }}" >> $GITHUB_ENV
          echo "PREVIEW_NAME=${{ steps.branch-name.outputs.current_branch }}" >> $GITHUB_ENV
      
      - name: Check env
        run: echo ${BRANCH_NAME}
      
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Pull image
        run: docker pull ${{ env.DOCKER_IMAGE }}
      
      - name: Run instance
        run: |
          docker run -d -P \
            -l traefik.enable=true \
            -l traefik.frontend.rule=Host:${{ env.PREVIEW_NAME }}.dev.loc \
            -l traefik.protocol=http \
            --name ${{ env.PREVIEW_NAME }} \
            ${{ env.DOCKER_IMAGE }}
