name: Deploy Preview

on: workflow_dispatch

env:
  DOCKER_IMAGE: eduardohmg/actions-test/${GITHUB_REF##*/} # current branch name
  PREVIEW_NAME: ${GITHUB_REF##*/} # current branch name

jobs:

  test:
    name: Test
    runs-on: self-hosted
    steps:
      - name: branch_name
        run: echo "${{env}}"

  deploy-preview:
    name: Deploy Preview
    runs-on: self-hosted
    needs: test
    steps:
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Docker pull
        id: docker_pull
        run: docker pull ${{ env.DOCKER_IMAGE }}
      - name: Docker Run
        id: docker_run
        run: |
          docker run -d -P \
            -l traefik.enable=true \
            -l traefik.frontend.rule=Host:${{ env.PREVIEW_NAME }}.dev.loc \
            -l traefik.protocol=http \
            --name ${{ env.PREVIEW_NAME }} \
            ${{ env.DOCKER_IMAGE }}
