name: Stop Preview

on:
  pull_request:
    types: [ closed ]
  issue_comment:
    types: [ created ]
  workflow_dispatch:

jobs:

  stop-preview:
    name: Deploy Preview
    runs-on: self-hosted
    if: github.event_name != 'issue_comment' || github.event.comment.body == '/stop'
    steps:
      - name: Get branch name
        id: branch_name
        uses: tj-actions/branch-names@v4.5
        if: github.event_name != 'issue_comment'

      - name: Set variables
        run: |
          echo "DOCKER_IMAGE=eduardohmg/actions-test:${{ steps.branch_name.outputs.current_branch }}" >> $GITHUB_ENV
          echo "PREVIEW_NAME=${{ steps.branch_name.outputs.current_branch }}" >> $GITHUB_ENV
          echo "CURRENT_SHA=${{ github.sha }}" >> $GITHUB_ENV
        if: github.event_name != 'issue_comment'

      - name: Get branch name for comment event
        uses: xt0rted/pull-request-comment-branch@v1.3.0
        id: comment_branch
        if: github.event_name == 'issue_comment'

      - name: Set variables for comment event
        run: |
          echo "DOCKER_IMAGE=eduardohmg/actions-test:${{ steps.comment_branch.outputs.head_ref }}" >> $GITHUB_ENV
          echo "PREVIEW_NAME=${{ steps.comment_branch.outputs.head_ref }}" >> $GITHUB_ENV
          echo "CURRENT_SHA=${{ steps.comment_branch.outputs.head_sha }}" >> $GITHUB_ENV
        if: github.event_name == 'issue_comment'

      - uses: LouisBrunner/checks-action@v1.1.2
        if: always()
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Stop Preview
          sha: ${{ env.CURRENT_SHA }}
          status: in_progress
          output: |
            {
              "summary": "Stopping URL: http://${{ env.PREVIEW_NAME }}.dev.loc"
            }
      
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Stop instance
        run: docker stop ${{ env.PREVIEW_NAME }}

      - name: Remove container
        run: docker rm -f ${{ env.PREVIEW_NAME }}
        if: always()

      - name: Stop deployment
        uses: bobheadxi/deployments@v0.6.0
        if: always()
        with:
          step: deactivate-env
          token: ${{ secrets.GITHUB_TOKEN }}
          env: ${{ env.PREVIEW_NAME }}

      - uses: LouisBrunner/checks-action@v1.1.2
        if: always()
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          check_id: Deploy Preview
          sha: ${{ env.CURRENT_SHA }}
          conclusion: ${{ job.status }}
          status: completed
