name: Stop Preview

on:
  pull_request:
    types: [ closed ]
  issue_comment:
    types: [ created ]
  workflow_dispatch:

jobs:

  stop-preview:
    name: Deploy Preview
    runs-on: self-hosted
    if: github.event_name != 'issue_comment' || github.event.comment.body == '/stop'
    steps:
      - name: Get branch name
        id: branch_name
        uses: tj-actions/branch-names@v4.5
      
      - name: Set variables
        run: echo "PREVIEW_NAME=${{ steps.branch_name.outputs.current_branch }}" >> $GITHUB_ENV
      
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Stop instance
        run: docker stop ${{ env.PREVIEW_NAME }}

      - name: Remove container
        run: docker rm ${{ env.PREVIEW_NAME }}
